Flask==3.1.1
python-dotenv==1.1.1
groq==0.30.0
chromadb==1.0.15
langchain==0.3.26
langchain-chroma==0.2.4
langchain-huggingface==0.3.0
huggingface-hub==0.33.4
sentence-transformers==5.0.0
openai==1.95.0
uvicorn==0.35.0
gunicorn==22.0.0  # optional, if using gunicorn in production
gdown==5.2.0           # if you're downloading from Google Drive
python-multipart==0.0.20  # if you handle file uploads
